*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-text-light: #9e9aa7;
  --color-text-dark: #35323e;
  --color-bg-light: #f0f1f6;
  --color-bg-dark: #3b3054;
  --color-bg-very-dark: #232127;
  --color-primary: #2acfcf;
  --color-error: #f46262;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: var(--color-text-dark);
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
}

.container {
  max-width: 1110px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.section-title {
  font-size: clamp(1.7rem, 6vw, 2.5rem);
}

.btn {
  padding: 0.65em 2em;
  border: none;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 2em;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  height: 21px;
  width: 24px;
  padding: 0;
  border: none;
  position: relative;
  background: none;
  cursor: pointer;
}

.hamburger__bar,
.hamburger__bar::before,
.hamburger__bar::after {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--color-text-light);
  transition: all 0.3s;
}

.hamburger__bar::before,
.hamburger__bar::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger__bar::before {
  top: 0;
}

.hamburger__bar::after {
  bottom: 0;
}

.hamburger--active .hamburger__bar {
  background-color: transparent;
}

.hamburger--active .hamburger__bar::before {
  transform: translateY(9px) rotate(45deg);
}

.hamburger--active .hamburger__bar::after {
  transform: translateY(-9px) rotate(-45deg);
}

.menu {
  padding: 2.5rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  transform: translateY(100%);
  background-color: var(--color-bg-dark);
  border-radius: 10px;
  display: none;
}

.menu--active {
  display: block;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__list:not(:last-child) {
  margin-bottom: 1.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.menu__list-item {
  margin-bottom: 1.9rem;
}

.menu__list:last-child .menu__list-item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.menu__link.btn {
  display: block;
  width: 100%;
}

.hero {
  padding-bottom: 8rem;
  overflow-x: hidden;
}

.hero__image {
  max-width: 150%;
}

.hero__content {
  margin: 2rem 0;
  text-align: center;
}

.hero__heading {
  margin-bottom: 1rem;
  font-size: clamp(2.5rem, 6.5vw, 4.8rem);
  line-height: 1.2;
}

.hero__description {
  margin-bottom: 1.8rem;
  font-size: clamp(1.125rem, 2.4vw, 1.4rem);
}

.hero__btn {
  font-size: 1.25rem;
}

.main {
  background-color: var(--color-bg-light);
}

.shortener {
  transform: translateY(-5rem);
}

.shortener .btn {
  border-radius: 5px;
}

.shortener__form {
  padding: 1.5rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg-dark);
  background-image: url(./assets/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 10px;
}

.shortener__input,
.shortener__btn {
  height: 3rem;
  width: 100%;
}

.input-container {
  width: 100%;
}

.shortener__input {
  padding: 0 1rem;
  border: none;
  font-size: 1rem;
  color: var(--color-text-dark);
  border-radius: 5px;
}

.shortener__input--error {
  border: 3px solid var(--color-error);
}

.shortener__input::placeholder {
  color: var(--color-text-light);
}

.shortener__input--error::placeholder {
  color: var(--color-error);
  opacity: 0.5;
}

.shortener__error-msg {
  font-size: 0.75rem;
  margin-top: 0.5em;
  color: var(--color-error);
  display: none;
}

.shortener__input--error + .shortener__error-msg {
  display: block;
}

.shortener__btn {
  font-size: 1.125rem;
}

.shortener__links-list {
  margin: 1.5rem 0 0;
  padding: 0;
  list-style: none;
}

.shortener__link-container {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 5px;
  background-color: #fff;
}

.shortener__link--long {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #e5e5e5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-dark);
}

.shortener__link--short,
.shortener__link--short:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.features {
  padding-bottom: 5rem;
}

.features__header {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.features__header .section-title {
  margin-bottom: 0.5em;
}

.features__header p {
  font-size: clamp(1rem, 3vw, 1.125rem);
}

.features__cards-container {
  --gap: 5.75rem;
}

.card {
  --image-size: 5.5rem;
  max-width: 550px;
  margin: var(--gap) auto 0;
  padding: 5rem 2rem 2.5rem;
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

.card:not(:last-child)::after {
  content: '';
  display: block;
  height: var(--gap);
  width: 0.5rem;
  background-color: var(--color-primary);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  z-index: 10;
}

.card__image-container {
  height: var(--image-size);
  width: var(--image-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg-dark);
  border-radius: 50%;
  z-index: 20;
}

.card__title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.card__description {
  font-size: 0.95rem;
}

.cta {
  padding: 5.5rem 1.5rem;
  text-align: center;
  background-color: var(--color-bg-dark);
  background-image: url(./assets/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cta__title {
  margin-bottom: 0.75em;
  color: #fff;
}

.cta__button {
  font-size: 1.25rem;
}

.footer {
  padding: 3.5rem 0;
  text-align: center;
  background-color: var(--color-bg-very-dark);
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.footer-menu__title {
  margin-bottom: 1.65rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu__list-item {
  margin-bottom: 0.5rem;
}

.footer-menu__link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text-light);
}

.footer-menu__link:hover {
  color: var(--color-primary);
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social a + a {
  margin-left: 1rem;
}

.social a:hover {
  filter: invert(31%) sepia(34%) saturate(824%) hue-rotate(130deg) brightness(92%) contrast(96%);
}

@media (min-width: 700px) {
  .hero > .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }

  .hero__image {
    width: 55vw;
  }

  .hero__content {
    flex: 1 0 55%;
    max-width: 600px;
    text-align: left;
  }

  .cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(./assets/bg-boost-desktop.svg);
  }
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }

  .menu {
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: static;
    transform: translateY(0);
    background: transparent;
  }

  .menu__list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .menu__list:not(:last-child) {
    margin: 0 0 0 2.5rem;
    border: none;
  }

  .menu__list-item {
    margin: 0;
  }

  .menu__link {
    font-size: 0.9rem;
    color: var(--color-text-light);
  }

  .menu__link:hover {
    color: var(--color-text-dark);
  }

  .menu__link.btn {
    color: #fff;
  }
}

@media (min-width: 900px) {
  .shortener__form {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    flex-direction: row;
    background-image: url(./assets/bg-shorten-desktop.svg);
  }

  .shortener__input,
  .shortener__btn {
    height: 4rem;
    font-size: 1.25rem;
  }

  .input-container {
    flex: 1;
    position: relative;
  }

  .shortener__input {
    padding: 0 2rem;
  }

  .shortener__error-msg {
    margin: 0;
    position: absolute;
    font-size: 1rem;
    left: 0;
    bottom: -2em;
  }

  .shortener__btn {
    width: auto;
  }

  .shortener__link-container {
    padding: 1.5rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  .shortener__link {
    font-size: 1.25rem;
  }

  .shortener__link--long {
    margin: 0 auto 0 0;
    padding: 0;
    border: none;
  }
}

@media (min-width: 950px) {
  .features__cards-container {
    --gap: 2rem;
    margin: 5.5rem 0;
    display: flex;
    gap: var(--gap);
  }

  .card {
    margin: 0;
    flex: 1;
    text-align: left;
  }

  .card:nth-child(2) {
    transform: translateY(calc(var(--image-size) / 2));
  }

  .card:nth-child(3) {
    transform: translateY(var(--image-size));
  }

  .card:not(:last-child)::after {
    width: var(--gap);
    height: 0.5rem;
    left: 100%;
    top: 55%;
    bottom: auto;
    transform: none;
  }

  .card:nth-child(2):after {
    top: calc(55% - (var(--image-size) / 2));
  }

  .card__image-container {
    left: 2rem;
    transform: translate(0, -50%);
  }

  .footer {
    padding: 4.7rem 0;
    text-align: left;
  }

  .footer .container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5rem;
  }

  .footer__logo {
    margin-right: auto;
  }

  .footer-menu__title {
    margin-bottom: 1.85rem;
  }

  .footer-menu__list-item {
    margin-bottom: 0.75rem;
  }
}
